<div class="container">
    <app-cockpit 
        (server-created)="onServerAdded($event)" 
        (blueprint-created)="onBlueprintAdded($event)"
    ></app-cockpit>
    <hr>
    <div class="row">
        <div class="col-xs-12">
            <app-server-element *ngFor="let se of serverElements" [server-element]="se">
                <p>
                    <strong *ngIf="se.type === 'server'" style="color: red">{{ se.content }}</strong>
                    <em *ngIf="se.type === 'blueprint'">{{ se.content }}</em>
                </p>
            </app-server-element>
        </div>
    </div>
</div>
